.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_primary{
    background-color: var(--primary-btn);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1%;
}