.completed{
    background-color: green;
}

.pending{
    background-color: yellow;
}

.cardContainer{
    display: flex;
    justify-content: center;
}

.cardStyle{
    width: 25%;
    text-align: center;
}